@import url('https://fonts.googleapis.com/css?family=Francois+One|Prompt');
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(assets/background.png);
  color: #999999;
}
h1, h2, h3, h4, h5, h6, a {
  font-family: "Francois One";
  color: #333;
}
p {
  font-family: Prompt;
  color: #444;
}
a {  
  text-decoration: none;
}
li {
  list-style-type: none;
 }
ul {
  margin: 0;
  padding: 0;
 }
.nav-header ul {
   display: grid;
   height: 100%;
   grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr;
   grid-row-gap: 1px;
}
 .nav-header ul li {
   display: block;
 }
.avatar {
  background-image: url(assets/avatar.jpg);
  background-position: center;
  background-size: contain;
  opacity: 0.7;
}
#wrapper-cv {
  display: grid;
  grid-template-columns: 150px 1fr 50px;
  grid-gap: 1px;
  width: 100%;
  max-width: 1024px;  
  margin: auto;
}
.nav-header {
  position: fixed;
  grid-column: 1 / 2;  
  background-color: #fff;
  height: 100vh;
  width: 150px;
}
.wrapper-main {
  display: grid;
  background-color: rgba(255,255,255,0.3);
  grid-gap: 1px;
  grid-column: 2 / 3;
}
.nav-social {  
  position: fixed;
}
.nav-social ul {
  display: grid;
  grid-gap: 1px;
}
i.social {
  display: block;
  width: 50px;
  height: 50px;
}
.nav-social a {
  display: block;
  background-color: rgba(100, 100, 100, 0.6)
}
.a-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
.a-nav-1:hover {
  background-color: rgb(241, 140, 142);
  transition: background-color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.a-nav-2:hover {
  background-color: rgb(240, 183, 164);
  transition: background-color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.a-nav-3:hover {
  background-color: rgb(241, 209, 181);
  transition: background-color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.a-nav-4:hover {
  background-color: rgb(86, 142, 166);
  transition: background-color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.a-nav-5:hover {
  background-color: rgb(48, 95, 114);
  transition: background-color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.a-nav-1 {
  background-color: rgba(241, 140, 142, 0.5);
}
.a-nav-2 {
  background-color: rgba(240, 183, 164, 0.5);
}
.a-nav-3 {
  background-color: rgba(241, 209, 181, 0.5);
}
.a-nav-4 {
  background-color: rgba(86, 142, 166, 0.5);
}
.a-nav-5 {
  background-color: rgba(48, 95, 114, 0.5);
}
#about-me {  
  height: 100vh;
}
#prof-skills {
  height: 100vh;
}
#education {
  height: 100vh;
}
#eng-skills {
  height: 100vh;
}
#contacts {
  height: 100vh;
}
.about {
  background-image: url(assets/about.png);
  width: 60px;
  height: 60px;
  background-size: contain;
}
.skills {
  background-image: url(assets/skills.png);
  width: 60px;
  height: 60px;
  background-size: contain;
}
.education {
  background-image: url(assets/education.png);
  width: 60px;
  height: 60px;
  background-size: contain;
}
.english {
  background-image: url(assets/english.png);
  width: 60px;
  height: 60px;
  background-size: contain;
}
.contacts {
  background-image: url(assets/contacts.png);
  width: 60px;
  height: 60px;
  background-size: contain;
}
.fb {
  background-image: url(assets/fb.png);
  width: 50px;
  height: 50px;
}
.vk {
  background-image: url(assets/vk.png);
  width: 50px;
  height: 50px;
}
.instagram {
  background-image: url(assets/instagram.png);
  width: 50px;
  height: 50px;
}